node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.DS_Store
*.log
.npm
.eslintrc.json
.prettierrc.json
.prettierignore
.vscode
.idea
*.tmp
*.temp
session*
sessions*
nazedev/*.json
!nazedev/.gitkeep 
